# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# loading results and viewing the data frame
file_to_load = "../WeatherPy/output_data/city_weather_data.csv"
city_data = pd.read_csv(file_to_load)
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Sabzaw훮r,36.21,57.68,83.17,25,0,6.58,IR,1595733138
1,1,Santa Cruz de la Sierra,-17.80,-63.17,55.40,66,90,8.05,BO,1595732886
2,2,Cape Town,-33.93,18.42,57.20,93,75,2.24,ZA,1595733136
3,3,Hambantota,6.12,81.12,78.80,100,90,8.05,LK,1595733144
4,4,Punta Arenas,-53.15,-70.92,24.80,85,48,12.75,CL,1595733145

In [3]:
# deleting the new index column, identified as Unnamed: 0
del city_data['Unnamed: 0']
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Sabzaw훮r,36.21,57.68,83.17,25,0,6.58,IR,1595733138
1,Santa Cruz de la Sierra,-17.80,-63.17,55.40,66,90,8.05,BO,1595732886
2,Cape Town,-33.93,18.42,57.20,93,75,2.24,ZA,1595733136
3,Hambantota,6.12,81.12,78.80,100,90,8.05,LK,1595733144
4,Punta Arenas,-53.15,-70.92,24.80,85,48,12.75,CL,1595733145

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# obtaining the required data to display a humidity heatmap for every city from Part I:
locations = city_data[["Lat", "Lng"]].astype(float)
city_humidity = city_data['Humidity'].astype(float)
max_humidity = city_humidity.max()

In [5]:
# creating the heatmap layer
fig = gmaps.figure(center=(0, 0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=city_humidity, 
                                 dissipating=False, max_intensity=max_humidity,
                                 point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# defining ideal weather conditions for kitesurfing or kite-ground-boarding: 
# temps between 69 to 86 F, 
# wind speed between 10 to 20 knots,
# less than 15% cloudiness max, and good attitude.
ideal_spot_data = city_data.loc[(city_data['Max Temp'] > 69) & 
                                  (city_data['Max Temp'] < 89) & 
                                  (city_data['Wind Speed'] > 11) &
                                  (city_data['Wind Speed'] < 24) &
                                  (city_data['Cloudiness'] <  15)]
ideal_spot_data.shape

(21, 9)

In [7]:
# dropping null values:
ideal_spot_data.dropna(how='any')
# reseting index:
ideal_spot_data.reset_index(inplace=True)
del ideal_spot_data['index']
ideal_spot_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,S찾o Jo찾o da Barra,-21.64,-41.05,70.92,88,0,11.27,BR,1595733150
1,Arraial do Cabo,-22.97,-42.03,71.60,83,0,18.34,BR,1595733153
2,Butaritari,3.07,172.79,83.34,76,12,15.43,KI,1595733154
3,Carnarvon,-24.87,113.63,75.20,25,0,11.41,AU,1595733173
4,Cabo San Lucas,22.89,-109.91,84.99,78,5,14.99,MX,1595733175
5,Ribeira Grande,38.52,-28.70,71.60,86,11,13.56,PT,1595733223
6,Cherskiy,68.75,161.30,86.94,25,0,13.11,RU,1595733335
7,Kysyl-Syr,63.90,122.76,70.36,48,0,13.09,RU,1595733408
8,Maragogi,-9.01,-35.22,73.13,84,3,12.64,BR,1595733420
9,Laguna,38.42,-121.42,82.99,39,1,13.87,US,1595733441
10,N훮l큰t,30.33,10.85,74.89,29,0,11.41,LY,1595733449
11,Atuona,-9.80,-139.03,79.72,71,2,21.03,PF,1595733534
12,Lincoln,40.80,-96.67,84.20,70,1,13.87,US,1595733547
13,Kislyakovskaya,46.44,39.67,73.02,33,13,13.44,RU,1595733597
14,Mount Isa,-20.73,139.50,71.60,21,0,12.75,AU,1595733657
15,Lagoa,39.05,-27.98,71.31,88,0,17.65,PT,1595733691
16,Grand Island,40.92,-98.34,82.40,69,1,13.87,US,1595733713
17,Crotone,39.09,17.12,73.17,67,0,11.97,IT,1595733750
18,Ou챕goa,-20.35,164.43,76.98,64,0,14.61,NC,1595733768
19,Micheweni,-4.97,39.83,76.23,77,9,16.06,TZ,1595733770
20,Palmerston,-12.49,130.98,87.01,20,1,14.99,AU,1595733794

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Looping to create the list of hotels:
hotel_list = []
for i in range(len(ideal_spot_data)):
    latitude = ideal_spot_data.loc[i]['Lat']
    longitude = ideal_spot_data.loc[i]['Lng']
    
    params = {'location': f'{latitude},{longitude}', 
              'radius': 5000, 
              'types': 'hotel',
              'key': g_key}
    
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    response = requests.get(base_url, params=params)
    response_json = response.json
    try:
        hotel_list.append(response_json['results'][0]['name'])
    except:
        hotel_list.append('')

In [9]:
# adding the new column Hotel Name:
ideal_spot_data['Hotel Name'] = hotel_list
ideal_spot_data

/Users/emiliobello/opt/anaconda3/envs/NewPythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,S찾o Jo찾o da Barra,-21.64,-41.05,70.92,88,0,11.27,BR,1595733150,
1,Arraial do Cabo,-22.97,-42.03,71.60,83,0,18.34,BR,1595733153,
2,Butaritari,3.07,172.79,83.34,76,12,15.43,KI,1595733154,
3,Carnarvon,-24.87,113.63,75.20,25,0,11.41,AU,1595733173,
4,Cabo San Lucas,22.89,-109.91,84.99,78,5,14.99,MX,1595733175,
5,Ribeira Grande,38.52,-28.70,71.60,86,11,13.56,PT,1595733223,
6,Cherskiy,68.75,161.30,86.94,25,0,13.11,RU,1595733335,
7,Kysyl-Syr,63.90,122.76,70.36,48,0,13.09,RU,1595733408,
8,Maragogi,-9.01,-35.22,73.13,84,3,12.64,BR,1595733420,
9,Laguna,38.42,-121.42,82.99,39,1,13.87,US,1595733441,
10,N훮l큰t,30.33,10.85,74.89,29,0,11.41,LY,1595733449,
11,Atuona,-9.80,-139.03,79.72,71,2,21.03,PF,1595733534,
12,Lincoln,40.80,-96.67,84.20,70,1,13.87,US,1595733547,
13,Kislyakovskaya,46.44,39.67,73.02,33,13,13.44,RU,1595733597,
14,Mount Isa,-20.73,139.50,71.60,21,0,12.75,AU,1595733657,
15,Lagoa,39.05,-27.98,71.31,88,0,17.65,PT,1595733691,
16,Grand Island,40.92,-98.34,82.40,69,1,13.87,US,1595733713,
17,Crotone,39.09,17.12,73.17,67,0,11.97,IT,1595733750,
18,Ou챕goa,-20.35,164.43,76.98,64,0,14.61,NC,1595733768,
19,Micheweni,-4.97,39.83,76.23,77,9,16.06,TZ,1595733770,
20,Palmerston,-12.49,130.98,87.01,20,1,14.99,AU,1595733794,

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_spot_data.iterrows()]
locations = ideal_spot_data[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))